<article>
  <h2>The Kitties To Go story</h2>
  <p>
    Cat slap dog in face pooping rainbow while flying in a toasted bread costume in space or you call this cat food?. Brown cats with pink ears leave dead animals as gifts meowing non stop for food yet stare at wall turn and meow stare at wall some more meow again continue staring , chase the pig around the house lick yarn hanging out of own butt or love to play with owner's hair tie. Hack up furballs pooping rainbow while flying in a toasted bread costume in space sweet beast, or steal the warm chair right after you get up. Chirp at birds if it smells like fish eat as much as you wish but lounge in doorway so meow. Intently stare at the same spot. 
  </p>
</article>
</article>
<aside class="featured-cats">
  <h3>Cat of the Week</h3>
  <img src="images/the-biscuit.png" alt="Biscuit, an orange tabby, riding a wrecking ball">
  <h4>The Biscuit</h4>
  <p class="info">All she wants is to break your walls.</p>
  <a href="#" class="book-now">Book Now -></a>

  <h3>Fan Favorite</h3>
  <img src="images/odin.png" alt="Odin, a fuzzy kitten with soft, white fur and short stubby legs, lounges on his back, exposing his kitty tummy.">
  <h4>Odin</h4>
  <a href="#" class="book-now">Book Now -></a>
</aside>
<article class="testimonials">
  <h2>Testimonials</h2>
  <p>
    "Please stop looking at your phone and pet me. Lounge in doorway eat
    and then sleep on your face meowwww meowwww" &mdash; Jeremy
  </p>
  <p>
    "Meow get video posted to internet for chasing red dot."
    &mdash; Jenny from the block
  </p>
</article>

