<DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mockup.css">
    <title>Kitties To Go!</title>
  </head>

  <body>
    <header>
      <h1>
        Kitties To Go!
        <span class="subtitle">Seattle's premiere drive-thru cat rentals</span>
      </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/kitties">Kitty Profiles</a>
      </nav>
      <a href="/kitties" class="call-to-action">Open right MEOW! Book a Cat -></a>
    </header>

    <main>
    <%= yield %>
    </main>
    
    <footer>
      <div class="contact">
        Kitties To Go!<br>
        (555) 867&ndash;5309<br>
        <a href="mailto:kittiestogo@catmail.com">kittiestogo@catmail.com</a>
      </div>
      <div class="copyright">
        Please Cat Responsibly<br>
        &copy;2016 Kitties To Go!, LLC
      </div>
    </footer>
  </body>
</html>
