html { font: normal normal 16px/1.5 Helvetica; }

body {
  width: 720px;
  margin: 1rem auto;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0 0 1rem;
}

a {
  color: rgb(209, 16, 25);
}

header {
  background: #000;
  color: #fff;
  position: relative;
}

header h1 {
  padding: 5rem 1rem 0;
}

header nav {
  background: rgb(166, 166, 166);
  padding: 0.5rem;
  text-align: center;
}

header nav a {
  font-size: 1.2rem;
  margin: 0 1rem;
}

header .subtitle {
  color: #999;
  display: block;
  font-size: 1rem;
}

header .call-to-action {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

main {
  overflow: auto;
  padding: 1rem 0.5rem;
}

main article {
  float: left;
  width: 60%;
}

.featured-cats {
  border: 1px solid #000;
  float: right;
  padding: 1rem;
  width: 33%;
}

.featured-cats h3 {
  text-align: center;
  clear: both;
}

.featured-cats h4 {
  text-align: center;
}

.featured-cats .info {
  float: left;
  width: 56%;
}

.featured-cats .book-now {
  float: right;
  width: 40%;
}

.testimonials p {
  font-style: italic;
}

footer {
  background: #000;
  color: #ccc;
  font-size: 0.75rem;
  padding: 1rem;
}

footer .contact {

}

footer .copyright {
  text-align: center;
}
